[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
flask = "*"
phonenumbers = "*"
presidio-analyzer = "*"
presidio-anonymizer = "*"
pyyaml = "*"
regex = "*"
spacy = "*"
tldextract = "*"
typing-extensions = "*"

[dev-packages]
flake8-docstrings = "*"
pep8-naming = "*"
pre_commit = "*"
pytest = "*"
